<!DOCTYPE html>
<html lang='ru'>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Анализатор комментариев</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body>
	<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Analyst+</span>
      </a>
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Главная</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Информация</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="#">Все сервисы</a>
        <a class="py-2 text-dark text-decoration-none" href="#">Поддержка</a>
      </nav>
    </div>
	<div class="container">	
		<div class="row">
			<div class="col-4 offset-1">
				<h1>Анализ комментария</h1>
				<form action="" method="post">
					{% csrf_token %}
					<label for="comment">Комментарий</label>
					{{form.as_p}}
					<textarea type="text" id="comment" class="form-control" name="comment" placeholder="Введите комментарий" cols="40" rows="5"></textarea>
					<input type="submit" name="submit" value="Узнать" class="mt-2 btn btn-danger">
				</form>
			</div>
			<div class="col-4 offset-1">
				<h1>Информация</h1>
				<div class="alert alert-danger">
					<b>Комментарий: </b>{{info.name}}<br>
					<b>Рейтинг: </b>{{info.rating}}<br>
					<b>Статус: </b>{{info.status}}<br>
				</div>
			</div>	
		</div>
	</div>
</body>
</html>